@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla:ital@1&display=swap");
* {
  font-family: "Rambla", sans-serif;
}

div {
  border: 0px solid black;
}

div > p {
  font-size: 1.5rem;
}

div > h1 {
  font-size: 1.8rem;
}

.purple {
  color: #350646;
}

.pink {
  color: #a20889;
}

.unselect {
  color: #343131;
}

.container1 {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.container1 .item1 {
  min-height: 60px;
}

.container1 .item1 p {
  font-weight: bold;
}

.container1 .item1 a {
  text-decoration: none;
}

.container1 .item2 {
  min-height: 60px;
}

.container1 .item2 ul {
  list-style-type: none;
  margin-top: 30px;
}

.container1 .item2 ul li {
  display: inline;
}

.container1 .item2 ul li a {
  text-decoration: none;
  margin: 20px;
}

.container1 .item4 {
  color: #343131;
}

.container1 .item4 h2 {
  font-size: 1.6rem;
  margin-left: 50px;
}

.container1 .item4 p {
  font-size: 1.2rem;
  margin-left: 50px;
}

.container1 .item5 img {
  width: 100%;
  height: 80%;
}

.container2 {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.container2 .item3 {
  background-color: #e3dfdf;
}

.container2 .item3 h1 {
  color: #343131;
  text-align: center;
}

.container2 .item6 {
  background-color: #e3dfdf;
}

.container2 .item6 h3 {
  color: #343131;
  text-align: center;
  font-size: 2rem;
}

.container2 .item6 span {
  display: block;
  text-align: center;
}

.container2 .item7 h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30px;
  color: #343131;
}

.container2 .item9 {
  background-color: #e3dfdf;
}

.container2 .item9 h3 {
  text-align: center;
  font-size: 1.6rem;
}

.container2 .item9 h4 {
  text-align: center;
}

.container2 .item9 p {
  text-align: center;
}

.container2 .item9 p a {
  text-decoration: none;
}

.container2 .item9 p a img {
  margin-left: 20px;
}

.container3 {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.container3 .sub-item7 {
  border: 3px solid #350646;
  width: 50%;
  margin: 20px;
  border-radius: 10px;
}

.container3 .sub-item7 h5 {
  text-align: center;
  font-size: 1rem;
  color: #343131;
}

.container3 .sub-item8 {
  border: 3px solid #a20889;
  width: 50%;
  margin: 20px;
  border-radius: 10px;
}

.container3 .sub-item8 h5 {
  text-align: center;
  font-size: 1rem;
  color: #343131;
}

@media only screen and (max-width: 450px) {
  div > h1 {
    font-size: 1.5em;
  }
  .container1 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .container1 .item1 p {
    margin-left: 10px;
  }
  .container1 .item2 {
    min-height: 30px;
  }
  .container1 .item2 ul span {
    display: block;
    text-align: center;
  }
  .container1 .item2 ul span li a {
    margin: 20px;
    margin-left: 0px;
  }
  .container1 .item4 h2 {
    text-align: center;
    margin-left: 0px;
  }
  .container1 .item4 p {
    font-size: 1.2em;
    margin-left: 0px;
    text-align: center;
    padding: 20px;
  }
  .container1 .item5 img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container2 .item3 h1 {
    font-size: 1.2em;
  }
  .container2 .item6 h3 {
    font-size: 1.5em;
  }
  .container2 .item9 p a img {
    width: 10%;
  }
  .container3 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .container3 .sub-item7 {
    width: 70%;
  }
  .container3 .sub-item7 h5 {
    font-size: 0.9em;
  }
  .container3 .sub-item8 {
    width: 70%;
  }
  .container3 .sub-item8 h5 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
  .container1 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .container1 .item1 p {
    margin-left: 10px;
  }
  .container1 .item2 {
    min-height: 30px;
  }
  .container1 .item2 ul span {
    display: block;
    text-align: center;
  }
  .container1 .item2 ul span li a {
    margin: 20px;
    margin-left: 0px;
  }
  .container1 .item4 h2 {
    text-align: center;
    margin-left: 0px;
    font-size: 1.7em;
  }
  .container1 .item4 p {
    font-size: 1.2em;
    margin-left: 0px;
    text-align: center;
    padding: 5px;
  }
  .container1 .item5 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container2 .item6 h3 {
    font-size: 1.3em;
  }
  .container3 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .container3 .sub-item7 {
    width: 70%;
  }
  .container3 .sub-item7 h5 {
    font-size: 0.9em;
  }
  .container3 .sub-item8 {
    width: 70%;
  }
  .container3 .sub-item8 h5 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  div > h1 {
    font-size: 2.3em;
  }
  div > p {
    font-size: 2rem;
  }
  .container1 .item4 h2 {
    font-size: 1.8em;
  }
  .container1 .item4 p {
    font-size: 1.4em;
  }
  .container3 .sub-item7 h5 {
    font-size: 1.2em;
  }
  .container3 .sub-item8 h5 {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 2560px) {
  div > h1 {
    font-size: 3.1rem;
  }
  div > p {
    font-size: 2.7em;
  }
  .container1 .item2 ul li a {
    font-size: 2rem;
  }
  .container1 .item4 h2 {
    font-size: 3.5em;
  }
  .container1 .item4 p {
    font-size: 2.6em;
  }
  .container2 .item3 h1 {
    font-size: 5.5em;
  }
  .container2 .item6 h3 {
    font-size: 5.5em;
  }
  .container2 .item6 span {
    font-size: 1.8em;
  }
  .container2 .item7 h3 {
    font-size: 3.5em;
    margin-top: 70px;
  }
  .container2 .item9 h3 {
    font-size: 2em;
  }
  .container2 .item9 h4 {
    font-size: 1.6em;
  }
  .container3 .sub-item7 h5 {
    font-size: 1.8em;
  }
  .container3 .sub-item8 h5 {
    font-size: 1.8em;
  }
}
/*# sourceMappingURL=about.css.map */