@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
header,
section,
nav,
footer,
div {
  border: 0px solid #000;
}

header,
section,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

body {
  background-color: #dbdbe5;
}

nav {
  background-color: #21222d;
  min-height: 60px;
}

nav ul li {
  margin-top: 10px;
}

nav ul li a {
  color: #958ce8;
}

#navbar-sm {
  display: none;
}

header {
  font-family: "Roboto Condensed", sans-serif;
  color: #21222d;
}

header .item {
  min-height: 100px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

header .item h1 {
  font-weight: bolder;
  margin-left: 40px;
  margin-top: 60px;
  font-size: 4rem;
}

header .item p {
  margin-left: 40px;
  font-weight: regular;
  font-size: 1.5rem;
}

header .item button {
  display: block;
  margin-left: 40px;
  background-color: #958ce8;
  border: 1px solid #958ce8;
  padding: 10px;
  width: 200px;
}

header .item button a {
  color: #21222d;
  font-size: 1.3rem;
}

header .item img {
  width: 70%;
  margin-top: 60px;
  display: block;
  margin-left: 0;
}

.skills {
  background-color: #21222d;
  min-height: 100px;
  color: #958ce8;
}

.skills ul {
  list-style-type: none;
}

.skills ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.3rem;
  margin-left: 120px;
  margin-top: 20px;
}

.experience .exp-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.experience .exp-item h2,
.experience .exp-item p {
  margin-left: 40px;
}

.experience .exp-item h2 {
  margin-top: 30px;
  font-size: 5rem;
  color: #958ce8;
  font-weight: bolder;
}

.experience .exp-item h2 span {
  color: #21222d;
  font-size: 3rem;
}

.experience .exp-item p {
  font-weight: bolder;
  font-size: 2rem;
}

.experience .work-item {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.experience .work-item div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-top: 30px;
  height: 300px;
  border-radius: 10px;
  margin-left: 25px;
}

.experience .work-item div svg {
  display: block;
  margin-top: 100px;
  margin-left: 20px;
}

.experience .work-item div p {
  margin-left: 20px;
  font-size: 2rem;
}

.experience .work-item div span {
  display: block;
  margin-left: 20px;
}

.experience .work-item div span a {
  text-decoration: none;
  font-size: 1rem;
}

.experience .work-item .dark {
  background-color: #21222d;
  color: #acd1fd;
}

.experience .work-item .dark svg {
  color: #acd1fd;
}

.experience .work-item .dark a {
  color: #acd1fd;
}

.experience .work-item .light {
  background-color: #958ce8;
  color: #21222d;
}

.experience .work-item .light svg {
  color: #21222d;
}

.experience .work-item .light a {
  color: #21222d;
}

.experience .work-item .lighter {
  background-color: #acd1fd;
  color: #21222d;
}

.experience .work-item .lighter svg {
  color: #21222d;
}

.experience .work-item .lighter a {
  color: #21222d;
}

.space {
  height: 100px;
}

footer {
  background-color: #21222d;
}

footer .socials,
footer .info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

footer .socials p {
  margin-left: 40px;
  margin-top: 20px;
}

footer .socials p svg {
  color: #acd1fd;
}

footer .socials .copyright {
  color: #ffff;
}

footer .info p {
  color: #fff;
  margin-top: 20px;
  text-align: right;
}

@media only screen and (max-width: 550px) {
  #navbar-l {
    display: none;
  }
  #navbar-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #navbar-sm .fixed-top .collapse .darken a {
    display: block;
    text-decoration: none;
    color: #958ce8;
    font-size: 1.2em;
  }
  #navbar-sm .darken {
    background-color: #21222d;
  }
  header .item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header .item h1,
  header .item p,
  header .item button {
    margin-left: 20px;
  }
  header .item h1 {
    font-size: 3.5em;
  }
  header .item p {
    font-size: 1.2em;
  }
  header .item-sm {
    display: none;
  }
  .space-sm {
    display: none;
  }
  .skills {
    display: none;
  }
  .experience .exp-item,
  .experience .work-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .experience .exp-item h2,
  .experience .exp-item p {
    margin-left: 20px;
  }
  .experience .work-item div {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-left: 20px;
  }
  footer .socials,
  footer .info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  footer .socials p {
    text-align: center;
    margin-left: 0;
  }
  footer .info p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  header .item h1 {
    font-size: 3.2em;
  }
  header .item p {
    font-size: 1.2em;
  }
  header .item img {
    width: 100%;
    margin-top: 100px;
  }
  .space-sm {
    display: none;
  }
  .skills ul li {
    margin-left: 45px;
    font-size: 1em;
  }
  .experience .work-item div {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

@media only screen and (min-width: 1021px) and (max-width: 1120px) {
  .skills ul li {
    margin-left: 90px;
    font-size: 1em;
  }
  .experience .work-item div {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=index.css.map */