@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla:ital@1&display=swap");
* {
  font-family: "Rambla", sans-serif;
}

div {
  border: 0px solid black;
}

div > p {
  font-size: 1.5rem;
}

div > h1 {
  font-size: 1.8rem;
}

.pink {
  color: #a20889;
}

.purple {
  color: #350646;
}

.unselect {
  color: #343131;
}

.container1 {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.container1 .item1 {
  min-height: 60px;
}

.container1 .item1 p {
  font-weight: bold;
}

.container1 .item2 {
  min-height: 60px;
}

.container1 .item2 ul {
  list-style-type: none;
  margin-top: 30px;
}

.container1 .item2 ul li {
  display: inline;
}

.container1 .item2 ul li a {
  text-decoration: none;
  margin: 20px;
}

.container2 {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.container2 .item3 {
  background-color: #e3dfdf;
}

.container2 .item3 h1 {
  text-align: center;
  color: #343131;
}

.container2 .item4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.container2 .item4 .img {
  width: 80%;
  margin-top: 40px;
}

.container2 .item4 .img img {
  width: 100%;
  -webkit-box-shadow: 5px 5px 8px 1px #888888;
          box-shadow: 5px 5px 8px 1px #888888;
  margin-left: 10px;
  display: block;
}

.container2 .item4 .img a {
  margin-top: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #350646;
}

.container2 .item4 .img span {
  display: block;
}

.container2 .item4 .img span a {
  text-align: right;
  color: #000;
  font-size: 1rem;
}

.container2 .item5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.container2 .item5 .footer {
  background-color: #e3dfdf;
  margin-top: 80px;
  color: #343131;
}

.container2 .item5 .footer span {
  display: block;
  font-size: 1rem;
  text-align: center;
}

.container2 .item5 .footer span a {
  text-decoration: none;
  color: #a20889;
  font-weight: bolder;
}

@media only screen and (max-width: 450px) {
  div > h1 {
    font-size: 1.5em;
  }
  .container1 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .container1 .item1 p {
    margin-left: 10px;
  }
  .container1 .item2 {
    min-height: 30px;
  }
  .container1 .item2 ul span {
    display: block;
    text-align: center;
  }
  .container1 .item2 ul span li a {
    margin: 20px;
    margin-left: 0px;
  }
  .container2 .item3 h1 {
    padding: 10px;
  }
  .container2 .item4 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .container2 .item4 .img {
    width: 90%;
  }
  .container2 .item4 .img a {
    font-size: 0.85em;
  }
  .container2 .item4 .img span a {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1400px) {
  div > h1 {
    font-size: 2.3em;
  }
  div > p {
    font-size: 2rem;
  }
  .container2 .item4 .img a {
    font-size: 1.4em;
  }
  .container2 .item4 .img span a {
    font-size: 1.2em;
  }
  .container2 .item5 .footer span {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 2560px) {
  div > h1 {
    font-size: 3.1rem;
  }
  div > p {
    font-size: 2.7em;
  }
  .container1 .item2 ul li a {
    font-size: 2rem;
  }
  .container2 .item4 .img a {
    font-size: 2.2em;
  }
  .container2 .item4 .img span a {
    font-size: 1.7em;
  }
}
/*# sourceMappingURL=index.css.map */