@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

$primaryFont: "Roboto Condensed", sans-serif;
$secondaryFont: "Sacramento", cursive;
$primaryColor: #21222d;
$secondaryColor: #958ce8;
$featureColor: #acd1fd;
$bodyColor: #dbdbe5;

header,
section,
nav,
footer,
div {
  border: 0px solid #000;
}

header,
section,
footer {
  display: flex;
  flex-flow: row wrap;
}

body {
  background-color: $bodyColor;
  font-family: $primaryFont;
}

nav {
  background-color: $primaryColor;
  min-height: 60px;

  ul {
    li {
      margin-top: 10px;
      a {
        color: $secondaryColor;
      }
    }
  }
}

#navbar-sm {
  display: none;
}

header {
  font-family: $primaryFont;
  color: $primaryColor;

  .item {
    min-height: 100px;
    flex-basis: 50%;

    h1 {
      font-weight: bolder;
      margin-left: 40px;
      margin-top: 60px;
      font-size: 4rem;
    }

    p {
      margin-left: 40px;
      font-weight: regular;
      font-size: 1.5rem;
    }

    button {
      display: block;
      margin-left: 40px;
      background-color: $secondaryColor;
      border: 1px solid $secondaryColor;
      padding: 10px;
      width: 200px;

      a {
        color: $primaryColor;
        font-size: 1.3rem;
      }
    }

    img {
      width: 70%;
      margin-top: 60px;
      display: block;
      margin-left: 0;
    }
  }
}

.skills {
  background-color: $primaryColor;
  min-height: 100px;
  color: $secondaryColor;

  ul {
    list-style-type: none;
    li {
      display: inline-flex;
      font-size: 1.3rem;
      margin-left: 120px;
      margin-top: 20px;
    }
  }
}

.experience {
  .exp-item {
    flex-basis: 30%;

    h2,
    p {
      margin-left: 40px;
    }

    h2 {
      margin-top: 30px;
      font-size: 5rem;
      color: $secondaryColor;
      font-weight: bolder;

      span {
        color: $primaryColor;
        font-size: 3rem;
      }
    }

    p {
      font-weight: bolder;
      font-size: 2rem;
    }
  }

  .work-item {
    flex-basis: 70%;
    display: flex;
    flex-flow: row wrap;

    div {
      flex-basis: 30%;
      margin-top: 30px;
      height: 300px;
      border-radius: 10px;
      margin-left: 25px;

      svg {
        display: block;
        margin-top: 100px;
        margin-left: 20px;
      }

      p {
        margin-left: 20px;
        font-size: 2rem;
      }

      span {
        display: block;
        margin-left: 20px;

        a {
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }

    .dark {
      background-color: $primaryColor;
      color: $featureColor;

      svg {
        color: $featureColor;
      }

      a {
        color: $featureColor;
      }
    }

    .light {
      background-color: $secondaryColor;
      color: $primaryColor;

      svg {
        color: $primaryColor;
      }

      a {
        color: $primaryColor;
      }
    }

    .lighter {
      background-color: $featureColor;
      color: $primaryColor;

      svg {
        color: $primaryColor;
      }

      a {
        color: $primaryColor;
      }
    }
  }
}

.space {
  height: 100px;
}

footer {
  background-color: $primaryColor;

  .socials,
  .info {
    flex-basis: 50%;
  }

  .socials {
    p {
      margin-left: 40px;
      margin-top: 20px;

      svg {
        color: $featureColor;
      }
    }

    .copyright {
      color: #ffff;
    }
  }

  .info {
    p {
      color: #fff;
      margin-top: 20px;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 550px) {
  #navbar-l {
    display: none;
  }

  #navbar-sm {
    display: flex;
    flex-flow: row wrap;

    .fixed-top {
      .collapse {
        .darken {
          a {
            display: block;
            text-decoration: none;
            color: $secondaryColor;
            font-size: 1.2em;
          }
        }
      }
    }

    .darken {
      background-color: $primaryColor;
    }
  }

  header {
    .item {
      flex-basis: 100%;

      h1,
      p,
      button {
        margin-left: 20px;
      }

      h1 {
        font-size: 3.5em;
      }

      p {
        font-size: 1.2em;
      }
    }

    .item-sm {
      display: none;
    }
  }

  .space-sm {
    display: none;
  }

  .skills {
    display: none;
  }

  .experience {
    .exp-item,
    .work-item {
      flex-basis: 100%;
    }

    .exp-item {
      h2,
      p {
        margin-left: 20px;
      }
    }

    .work-item {
      div {
        flex-basis: 70%;
        margin-left: 20px;
      }
    }
  }

  footer {
    .socials,
    .info {
      flex-basis: 100%;
    }

    .socials {
      p {
        text-align: center;
        margin-left: 0;
      }
    }

    .info {
      p {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  header {
    .item {
      h1 {
        font-size: 3.2em;
      }

      p {
        font-size: 1.2em;
      }

      img {
        width: 100%;
        margin-top: 100px;
      }
    }
  }

  .space-sm {
    display: none;
  }

  .skills {
    ul {
      li {
        margin-left: 45px;
        font-size: 1em;
      }
    }
  }

  .experience {
    .work-item {
      div {
        flex-basis: 90%;
      }
    }
  }
}

@media only screen and (min-width: 1021px) and (max-width: 1120px) {
  .skills {
    ul {
      li {
        margin-left: 90px;
        font-size: 1em;
      }
    }
  }

  .experience {
    .work-item {
      div {
        margin-left: 10px;
      }
    }
  }
}
