@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
}

main,
header,
section,
nav,
footer,
div {
  border: 0px solid #000;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #21222d;
  color: #acd1fd;
}

header #navbar-xl {
  width: 100%;
  height: 50px;
}

header #navbar-xl ul li a {
  color: #acd1fd;
}

header #navbar-xl ul li a:hover {
  color: #acd1fd;
}

header #navbar-sm {
  display: none;
}

header section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #acd1fd;
}

header section .title-text,
header section .title-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

header section .title-text h1 {
  font-size: 6.5rem;
  margin-left: 140px;
  margin-top: 50px;
  color: #21222d;
}

header section .title-img {
  position: relative;
}

header section .title-img .smiley-one,
header section .title-img .smiley-two,
header section .title-img .smiley-three,
header section .title-img .smiley-four {
  position: absolute;
}

header section .title-img .smiley-one {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  left: 80px;
  top: 80px;
}

header section .title-img .smiley-two {
  left: 80px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
  bottom: 40px;
  color: #958ce8;
}

header section .title-img .smiley-three {
  right: 80px;
  top: 80px;
  color: #958ce8;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

header section .title-img .smiley-four {
  bottom: 40px;
  right: 60px;
}

header section .title-img .smiley-two,
header section .title-img .smiley-three {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
    color: #acd1fd;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    color: #acd1fd;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    color: #acd1fd;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    color: #acd1fd;
  }
  100% {
    opacity: 1;
  }
}

header section .title-img .smiley-one,
header section .title-img .smiley-four {
  -webkit-animation-name: blinker;
          animation-name: blinker;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes blinker {
  0% {
    opacity: 0;
    color: #958ce8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    color: #958ce8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
    color: #958ce8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    color: #958ce8;
  }
  100% {
    opacity: 1;
  }
}

header section .title-img .header-img {
  width: 100%;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.case-studies {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #21222d;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.case-studies .cases {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.case-studies .cases img {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.case-studies .cases p {
  color: #acd1fd;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  margin-top: 10px;
}

.case-studies .cases button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
}

.case-studies .cases button a {
  text-decoration: none;
  display: block;
  color: #21222d;
}

.case-studies .cases .view {
  background-color: #958ce8;
  border: 1px solid #958ce8;
}

.case-studies .cases .user-flow {
  background-color: #acd1fd;
  border: 1px solid #acd1fd;
}

.more {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #21222d;
  min-height: 50px;
}

.more a {
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 1.2rem;
  color: #958ce8;
  font-weight: regular;
  margin-right: 10px;
  margin-top: 20px;
}

footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 50px;
  background-color: #958ce8;
}

footer p {
  text-align: center;
  margin-top: 20px;
}

footer p a {
  text-decoration: none;
  margin-left: 10px;
}

footer p a svg {
  color: #21222d;
}

@media only screen and (max-width: 768px) {
  header #navbar-xl {
    display: none;
  }
  header #navbar-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    min-height: 60px;
  }
  header #navbar-sm .fixed-top .collapse .darken a {
    display: block;
    text-decoration: none;
    color: #acd1fd;
    font-size: 1.2em;
  }
  header #navbar-sm .darken {
    background-color: #21222d;
  }
  header section .title-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header section .title-text h1 {
    font-size: 4rem;
    margin-left: 0;
    text-align: center;
  }
  header section .title-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header section .title-img svg {
    display: none;
  }
  .case-studies .cases {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=product.css.map */